#service {
  padding: 1em;
  flex: 1 1 22.04em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#service.left {
  background-color: #a8c3b8;
}
#service.right {
  background-color: #f2f8d6;
}

@media (min-width: 75rem) {
  #service {
    display: grid;
    column-gap: 1em;
    justify-items: center;
    align-items: center;
  }
  #service.left {
    grid: 'image title' 1fr
          'image text' 4fr;
  }
  #service.right {
    grid: 'title image' 1fr
          'text image' 4fr;
  }
  #service a {
    grid-area: image;
  }
  #service h2 {
    grid-area: title;
  }
  #service p {
    grid-area: text;
    align-self: start;
    margin-top: 3em;
  }
}
