<section class="info-item">
  <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  {{ if eq .Title "Contact" }}
    <section id="contact_buttons" aria-label="{{ .Title }}">
      <button onclick="window.location.href='tel:+19202906368';"><img src="/icons/phone.svg" alt="Call"></button>
      <button onclick="window.location.href='sms:+19202906368';"><img src="/icons/sms.svg" alt="Text/SMS"></button>
      <button onclick="window.location.href='/email/';"><img src="/icons/email.svg" alt="Email"></button>
    </section>
  {{ end }}
  {{ .Content }}
</section>
