<section id="service" class="other">
  <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <div id="other_break" aria-hidden="true"></div>
  <div class="trees" aria-hidden="true">
    <img src="/icons/tree.svg" alt="" width="176" height="176">
    <img src="/icons/tree.svg" alt="" width="176" height="176">
    <img src="/icons/tree.svg" alt="" width="176" height="176">
  </div>
  {{ .Content }}
  <div class="trees" id="right-trees" aria-hidden="true">
    <img src="/icons/tree.svg" alt="" width="176" height="176">
    <img src="/icons/tree.svg" alt="" width="176" height="176">
    <img src="/icons/tree.svg" alt="" width="176" height="176">
  </div>
</section>
