{{ $class := "left" }}
{{ if modBool .Weight 2 }}
  {{ $class = "right" }}
{{ end }}
{{ if eq .Title "Other" }}
  {{ $class = "other" }}
{{ end }}
<section id="service" class="{{ $class }}">
  {{ if ne .Title "Other" }}
    {{ partial "services/image.html" . }}
  {{ end }}
  <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  {{ if eq .Title "Other" }}
    <div id="other_break" aria-hidden="true"></div>
    <div class="trees" aria-hidden="true">
      <img src="/icons/tree.svg" alt="" width="176" height="176">
      <img src="/icons/tree.svg" alt="" width="176" height="176">
      <img src="/icons/tree.svg" alt="" width="176" height="176">
    </div>
  {{ end }}
  {{ .Content }}
  {{ if eq .Title "Other" }}
    <div class="trees" id="right-trees" aria-hidden="true">
      <img src="/icons/tree.svg" alt="" width="176" height="176">
      <img src="/icons/tree.svg" alt="" width="176" height="176">
      <img src="/icons/tree.svg" alt="" width="176" height="176">
    </div>
  {{ end }}
</section>
