.review {
  margin: 1em 0.5em;
}

#reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reviews #boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#reviews button {
  border-radius: 5%/30%;
  height: 3em;
  width: 16em;
  margin-bottom: 1em;
}
