.review {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d7eac9;
  padding: 0 1em 1em 1em;
  margin: 2em 0.5em;
  border-radius: 5%/10%;
  max-width: 33em;
}
/* triangle */
.review::before {
  content: "";
  position: absolute;
  top: -1.5em;
  left: 3em;
  width: 0;
  height: 0;
  border-bottom: 2em solid #d7eac9;
  border-right: 2em solid transparent;
}
.review img {
  width: 24px;
  height: 24px;
  filter: drop-shadow(-0.1em 0.1em 0.1em gray);
}
.review p {
  margin: 0.2em 0;
}
